body{
    margin: 0;
}
*{
    text-decoration: none;
}
.header-menu{
    text-align: center;
    padding: 27px;
    margin: 0;

}
.menu-item{
    display: inline-block;
    margin-right: 36px;
    margin-left: 36px;
}
.menu-link{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}
.main-img{
    background-image: url("../img/background.png");
    box-sizing: border-box;

    background-size: cover;
}
.main-text{
    margin-left: 68px;
    margin-right: 68px;
    font-family: Montserrat;

    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;
    margin-bottom: 28px;
}
h2{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;

    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;
    margin-top: 49px;
    margin-bottom: 38px;
}

.btn-str{
    margin: 38px 582px 42px;
    border: 0;
    background: #FF0000;
    border-radius: 4px;
    padding: 12px 26px;
    font-family: Montserrat;

    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
}
.footer-text{
    margin: 40px 105px 29px 713px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;

    color: #373737;
}